<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false">

        <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="%5p %d{ISO8601} [%t][%x] %c - %m%n" />
                </layout>
        </appender>
        <appender name="ussd" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="file" value="/logs/apps/ussd/ussd.log" />
                <param name="append" value="true" />
                <param name="encoding" value="UTF-8" />
                <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
                        <param name="FileNamePattern" value="/logs/apps/ussd/%d{yyyy-MM-dd_HH}_ussd.gz" />
                </rollingPolicy>
                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="%5p %d{ISO8601} [%t][%x] %c:%L - %m%n" />
                </layout>
        </appender>
        
        <root>
                <priority value="info" />
                <appender-ref ref="ussd" />
<!--            <appender-ref ref="CONSOLE" />  -->
        </root>
</log4j:configuration>